.chibi {
  height: 100%;
  aspect-ratio: 1 / 1; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-radius: 8px;
  cursor: grab;
  flex: 0 0 auto;    
  font-size: 4rem; /* optionnel, juste si tu utilises emoji */
}

.chibi.disabled {
  opacity: 0.4;          // rend le chibi “grisé”
  pointer-events: none;   // empêche tout clic / drag
  cursor: not-allowed;    // indique visuellement que c'est désactivé
  filter: grayscale(80%); // optionnel, effet visuel supplémentaire
}