.splash-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: black;

  .logo {
    width: 80vw;
    height: auto;
    margin-bottom: 20px;
  }

  button {
    position: absolute;
    top:90vh;
    left:calc(100vw / 2 - 150px/2);
    width: 150;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    background-color: #ffcb05;
    border: none;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.05);
    }
  }
}
