.splash-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: black;

  .logo {
    width: 80vw;
    height: auto;
    margin-bottom: 20px;
  }

  .btn-start {
    position: absolute;
    top:90vh;
    left:calc(100vw / 2 - 150px/2);
    width: 200;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    background-color: #ffcb05;
    border: none;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.05);
    }
  }

  .btn-credit {
    position: absolute;
    top:95vh;
    left:calc(100vw / 2 - 120px/2);
    width: 300;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    background-color: #ffcb05;
    border: none;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.modal-overlay {
  position: fixed;
  inset: 0; /* Top, Right, Bottom, Left à 0 */
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(8px);
}

.modal-card {
  background: #1a1a1a;
  color: white;
  padding: 2rem;
  border-radius: 15px;
  border: 2px solid #00ffff; /* Bordure Cyan néon */
  box-shadow: 0 0 30px rgba(0, 255, 255, 0.3);
  width: 320px;
  animation: slideUp 0.4s ease-out;
}

.close-icon {
  float: right;
  cursor: pointer;
  font-size: 1.5rem;
}