.splash-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;

  .logo {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
  }

  button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    background-color: #ffcb05;
    border: none;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.05);
    }
  }
}
