<div class="controls">
    <button (click)="gotoHome()" class="shake-element" title="Accueil">
        <img src="assets/images/home.jpg">
    </button>
    <button (click)="sceneService.startScene()" class="shake-element" title="Démarrer">
        <img src="assets/images/start.png">
    </button>
    <button (click)="sceneService.pauseScene()" class="shake-element" title="Pause">
        <img src="assets/images/pause.png">
    </button>
    <button (click)="sceneService.clearScene()" class="shake-element" title="Effacer">
        <img src="assets/images/clear.png">
    </button>
</div>