.controls {
  position: absolute;
  top: 10px;
  right: calc(100vw - 90px*3);
  display: flex;
  gap: 10px;
  background-color: transparent;

  button {
    padding: 0;
    font-size: 1rem;
    cursor: pointer;
    background-color: transparent;
    border : 0;
  }

    button > img {
    padding: 0;
    font-size: 1rem;
    cursor: pointer;
    width: 80px;
    background-color: transparent;
  }
  button > img:hover {
    transform: scale(1.2);
  }
}

